CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_DEBUG_OCDAWARE=y
CONFIG_ESP32_BROWNOUT_DET=y
CONFIG_ESP32_BROWNOUT_DET_LVL=0
CONFIG_ESP32_REV_MAX=3
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_FREERTOS_HZ=1000
CONFIG_ESPTOOLPY_BAUD_OTHER=2000000
CONFIG_PARTITION_TABLE_SINGLE_APP=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_APP_BUILD_TYPE_APP_2NDBOOT=y
CONFIG_APP_BUILD_GENERATE_BINARIES=y
CONFIG_ESP_MESH_ENABLED=y
CONFIG_ESP_WIFI_ENABLED=y
CONFIG_ESP_WIFI_MESH_VOTE_PERCENTAGE=y
CONFIG_ESP_WIFI_MESH_MAX_LAYER=4
CONFIG_ESP_WIFI_MESH_MAX_NODES=50
CONFIG_ESP_WIFI_MESH_NON_MESH_CONN_MAX=4
CONFIG_ESP_WIFI_MESH_AP_AUTHMODE=y
